/.DS_Store
/.cursor
/.env
/__docs
/__game_backups
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache
tt.py

/__patches
/__server_patches
/__TEMP_SECURITY_BACKUP
__config/

.dockerignore
docker-compose.yml
Dockerfile
AGENTS.md